<!DOCTYPE html>
<html>
  
  <head>
    <title>JobBoard</title>
      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
      <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
      <%= csrf_meta_tags %>
  </head>
  
  <body>

    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button class="navbar-toggle" data-target="#bs-example-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <%= link_to t('JobBoard'), '/', class: "navbar-brand" %>
        </div>
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
          <ul class="nav navbar-nav">
            <li>
              <%= link_to 'Companies', companies_path %>
            </li>
            <li>
              <%= link_to 'Vacancies', jobs_path %>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
            <% if signed_in? %>
              <li>
                <%= link_to "Settings (#{current_user.firstname})", edit_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Log out', destroy_user_session_path, :method => :delete %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Sign up', new_user_registration_path %>
              </li>
              <li>
                <%= link_to 'Sign in', user_session_path %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |type, content| %>
        <% if content.respond_to?('each') %>
          <% content.each do |item| %>
            <%= render 'layouts/alert', type: type, content: item %>
          <% end %>
        <% else %>
          <%= render 'layouts/alert', type: type, content: content %>
        <% end %>
      <% end %>
    </div>
    <%= yield %>
    <div class="container">
      <hr/>
      <footer class="footer">
        <div class="row">
          <div class="col-lg-12 text-center">
            <p>
              Copyright &copy; 
              <%= Time.now.year %>
            </p>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
